.t1-body>* {
    color: black;
    margin: 0px;
    padding: 0px;
    padding-left: 4px;
}
.t1-body{
    width: 100%;
    background-color: rgb(255, 255, 255);
}
.t1-title{
    font-family: 'Courier New', Courier, monospace;
}
