@font-face {
    font-family: Test;
    src: url(../fonts/NatureBeautyPersonalUse-9Y2DK.ttf);
}
.t1-body>* {
    color: black;
    margin: 0px;

}
.t1-body{
    background-color: rgb(255, 255, 255);
    margin: 3px;
}
.t1-title{
    font-family: Test;
    color: blue;
}
.t1-name{
    border-bottom: 1px solid;
}
.t1-bullets{
    margin-left: 20px;
}