

.t3-body>* {
    color: rgb(255, 255, 255);
    margin: 0px;

}

.t3-body {
    background-color: rgb(0, 0, 0);
    margin: 3px;
}

.t3-title {
    color: brown;
}

.t3-name {
    border-bottom: 1px solid;
}

.t3-bullets {
    margin-left: 20px;
}